<?xml version="1.0" encoding="UTF-8"?>
<publisher:beans xmlns:publisher="http://www.springframework.org/schema/beans"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xmlns:context="http://www.springframework.org/schema/context"
                 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.eastcom"/>

    <!-- load mq factory -->
    <publisher:import resource="classpath:work/rabbitmq.xml"/>

    <!-- publisher -->
    <publisher:import resource="classpath:publish/publish.xml"/>

    <!-- tpye conf -->
    <publisher:import resource="classpath:work/task-types.xml"/>

    <!--ThreadPool-->
    <publisher:bean id="taskExecutor"
                    class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <publisher:property name="corePoolSize" value="10"/>
        <publisher:property name="keepAliveSeconds" value="300"/>
        <publisher:property name="maxPoolSize" value="50"/>
        <publisher:property name="queueCapacity" value="100"/>
    </publisher:bean>


</publisher:beans>