<?xml version="1.0" encoding="UTF-8"?>
<controller:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:context="http://www.springframework.org/schema/context"
                  xmlns:controller="http://www.springframework.org/schema/beans"
                  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.eastcom"/>

    <!-- task types -->
    <controller:import resource="classpath:work/task-types.xml"/>

    <controller:import resource="classpath:hbase/hbase-beans.xml"/>

    <controller:import resource="classpath:hive/hive-beans.xml"/>

    <!-- load mq factory-->
    <controller:import resource="classpath:work/rabbitmq.xml"/>

</controller:beans>